@include block(t_avatar) {
    @include element(button) {
        @extend %buttonClear;
        padding: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

    @include element(image) {
        height:30px;
        width:30px;
        border-radius: 100%;

        &[alt] {
            font-size: 0;
        }

        &:before,
        &:after {
            @extend %beforeAfter;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }

        &:before {
            background-color: white;
        }

        &:after {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background-color: $pendingColor;
            color: white;
            content: attr(alt);
            font-size: 0.75rem;
        }
    }
}