@include block(t_logo) {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    font-size: $spacer-md;
    line-height: 1;
    font-weight: 500;
    padding: $spacer-sm;

    color: white;
    cursor: default;
    user-select: none;

    img {

        margin: $spacer-xs;

    }

}