.t_navbar {
    background-color: var(--navBarBgColor);
    height: 100%;
    width: $navbarWidth;
    transition: margin-left 0.4s, max-height 0.4s;
    grid-column: 1;
    grid-row: 1 / 3;
    display: block;
    overflow: hidden;

    & nav {
        svg {
            height: 18px;
            width: 18px;
            color: var(--navBarSelectedBorderColor);
        }

        a {
            color: white;
            text-decoration: none;
            display: flex;
            border-bottom: 1px solid var(--navBarItemSeparatorColor);
            font-size: 13px;
            font-weight: 500;
            padding: $spacer-md;
            z-index: 1;
            background-color: var(--navBarBgColor);
            overflow: hidden;
            align-items: center;

            &:before {
                content: "";
                height: 100%;
                width: calc(100% + 5px);
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 5px 0 inset var(--navBarSelectedBorderColor);
                background-color: var(--navBarItemSelectedBgColor);
                opacity: 0;
                transition: all 0.2s ease-in 0.2s;
                transform: translateX(-5px);
                z-index: -1;
            }

            &:hover,
            &:focus {
                outline: none;

                &:before {
                    opacity: 0.5;
                    transform: translateX(0);
                    transition: all 0.2s ease-out;
                }
            }

            &:not([href]) {
                cursor: default;
                user-select: none;

                &:before {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }

    @media (max-width: calc(#{$navbarWidth} * 2)) {
        width: 100%;
        display: block;
        height: auto;
        max-height: 30rem;
    }
}