$taskHeight:  calc(#{$spacer-2xl} - #{$spacer-sm});

@include block(t_task) {
    background-color: $colorGray;

    @include element(header) {
        background-color: white;
        padding: $spacer-md  $spacer-md  $spacer-md 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include element(title) {
        font-weight: 500;
        font-size: 0.9rem;
    }

    @include element(list) {
        list-style: none;
    }

    @include element(item) {
        border-top: $borderGray-light;
        background-color: white;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;


    }

    @include element(content) {
        flex-grow: 1;

    }

    @include element(action) {
         @extend %buttonClear;
         cursor: pointer;
         width: $spacer-xl;
         height:$spacer-xl;
         padding: $spacer-sm;
          color: $colorGray-dark;

    }

    @include element(advice) {
        @extend %buttonClear;
        height: $spacer-lg;
        width: $spacer-lg;
        border-radius: 100%;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $pendingColor;
        color: white;
        font-weight: 500;
        font-size: 0.75rem;
        margin-left: $spacer-2xs;

        @include modifier(errors) {
            background-color: $errorColor;
        }
    }
    @include element(itemTitle) {
        font-weight: 400;


    }
    @include element(itemRemains) {
        color: $colorGray-dark;
        font-size: 0.7rem;
        display: flex;
        font-weight: 300;
        align-items: center;
        margin-top: $spacer-2xs;
        &.has-error {
            color:$errorColor;
        }

    }

  @include element(icon) {
    width: 12px;
    height: 12px;
    margin-right: $spacer-3xs;

  }

}

@include extendBlock(t_task, timeline) {
    @include element(header) {
        border-bottom: $borderGray-light;
    }

    @include element(item) {
        border: none;

        &:before, &:after {
            @extend %beforeAfter;
            height: $spacer-md;
            width: 1px;
            left: $spacer-lg;
            background-color: $colorGray;
            z-index: 3;
            transform: translateX($spacer-3xs);
        }

        &:before {
            top: 0;
        }

        &:after {
            top: $spacer-xl;
        }

        &:first-child:before, &:last-child:after {
            visibility: hidden;
        }
    }
}