:root {
    --navBarBgColor: hsla(221.5, 58.2%, 13.1%, 1);
    --navBarSelectedBorderColor: hsla(223.4, 100%, 66.7%, 1);
    --navBarItemSeparatorColor: hsla(221.8, 55.9%, 11.6%, 1);
    --navBarItemSelectedBgColor: hsla(221.6, 57.6%, 16.7%, 1);
    --mainBGColor: hsla(225, 28.6%, 97.3%, 1);
    --headerHeight: 63px;
}

$navbarWidth: 178px;

$borderColor: 1px solid  #e6e8ef;



