@font-face {
    font-family: 'bold';
    src: url('fonts/NotoSans-Bold-webfont.eot');
    src: url('fonts/NotoSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Bold-webfont.woff') format('woff'),
    url('fonts/NotoSans-Bold-webfont.ttf') format('truetype'),
    url('fonts/NotoSans-Bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bold_italic';
    src: url('fonts/NotoSans-BoldItalic-webfont.eot');
    src: url('fonts/NotoSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-BoldItalic-webfont.woff') format('woff'),
    url('fonts/NotoSans-BoldItalic-webfont.ttf') format('truetype'),
    url('fonts/NotoSans-BoldItalic-webfont.svg#noto_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'italic';
    src: url('fonts/NotoSans-Italic-webfont.eot');
    src: url('fonts/NotoSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Italic-webfont.woff') format('woff'),
    url('fonts/NotoSans-Italic-webfont.ttf') format('truetype'),
    url('fonts/NotoSans-Italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('fonts/NotoSans-Regular-webfont.eot');
    src: url('fonts/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSans-Regular-webfont.woff') format('woff'),
    url('fonts/NotoSans-Regular-webfont.ttf') format('truetype'),
    url('fonts/NotoSans-Regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodytext';
    src: url('fonts/proxima-nova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima-nova-regular-webfont.woff') format('woff'),
         url('fonts/proxima-nova-regular-webfont.ttf') format('truetype'),
         url('fonts/proxima-nova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodyitalic';
    src: url('fonts/proxima-nova-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima-nova-regular-italic-webfont.woff') format('woff'),
         url('fonts/proxima-nova-regular-italic-webfont.ttf') format('truetype'),
         url('fonts/proxima-nova-regular-italic-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}




body {
    font-family: 'bodytext', 'Roboto', Arial, sans-serif;
    font-weight: normal;
}

i,
em {
    font-family: 'bodyitalic', 'Roboto', Arial, sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: 'bold', 'Roboto', Arial, sans-serif;
    font-weight: normal;
    margin:0;
}